/* form */

* {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    background-image: url('dessert.jpeg');
  }
  
 
 
  form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  
  h2 {
    color: #f9f8f8;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  
  input[type="text"],
  input[type="number"],
  input[type="date"],select {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  