table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th,td {
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
}

@media (max-width:900px){
    body {
        overflow-x: hidden;
    }

    table {
        width: 100%;
        font-size: 13px;
    }

    th, td {
        padding: 4px;
    }
}